:root {
  --dark-text: #090909;
  --green: #439A86;
  --gray: #EDECF2;
  --white: #FFFFFF;
  --white-text: #F9F9F9;
  --lightgray-text: #E0E0E0;
  --darkgray-text: #595766;
  --gray-background: #DADADA;
  --red-text: #AA2020;
}